events {
  worker_connections   2000;
}

http {
    default_type  application/octet-stream;
    include       /etc/nginx/mime.types;

    server {
        listen              80;

        location /api/ {
           proxy_pass "${BACK_HOST}:${BACK_PORT}/";
           proxy_set_header Host ${DOLLAR}http_host/api;
        }
  }
}
